# Default group
[Default][2]
* @asfiyab @isherstyuk @kevinch @rajerao @shuyuel @simengl @skarunaratne @vincenth @yuanyao @mguzek @svc_tensorrt

[API][3]
/include/ @asfiyab @isherstyuk @kevinch @rajerao @shuyuel @simengl @skarunaratne @vincenth @yuanyao @svc_tensorrt
/contrib/TensorRT-Lite/include/ @asfiyab @isherstyuk @kevinch @rajerao @shuyuel @simengl @skarunaratne @vincenth @yuanyao @svc_tensorrt
/python/ @asfiyab @isherstyuk @kevinch @rajerao @shuyuel @simengl @skarunaratne @vincenth @yuanyao @svc_tensorrt

[Infra][1]
/cmake/ @kevinch @vincenth @simengl @skarunaratne @rajerao @svc_tensorrt
/docker/ @kevinch @vincenth @simengl @skarunaratne @rajerao @svc_tensorrt
/docker_qa/ @kevinch @vincenth @simengl @skarunaratne @rajerao @svc_tensorrt

[Demo][1]
/demo/ @vincenth @kevinch @shuyuel @asfiyab @rajerao @svc_tensorrt

# Parsers Gatekeeper
[Parsers][2]
/parsers/ @kevinch @yuanyao @simengl @mguzek @rajerao @svc_tensorrt

# Plugins Gatekeeper
[Plugins][2]
/plugin/ @skarunaratne @isherstyuk @vincenth @simengl @rajerao @svc_tensorrt

[Quickstart][1]
/quickstart/ @kevinch @shuyuel @isherstyuk @skarunaratne @rajerao @svc_tensorrt

[Samples][2]
/samples/ @shuyuel @vincenth @yuanyao @kevinch @rajerao @svc_tensorrt

[Third Party][1]
/third_party/ @kevinch @vincenth @simengl @asfiyab @rajerao @svc_tensorrt

[Scripts][1]
/scripts/ @vincenth @simengl @isherstyuk @kevinch @rajerao @svc_tensorrt

[Tools][1]
/tools/ @asfiyab @simengl @vincenth @shuyuel @rajerao @svc_tensorrt
